
.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 203, 203);
}

.entradaDosValores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entradaDosValores input{
    font-size: 40px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}

.operacoes {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
}

.operacoes button {
    width: 75px;
    height: 75px;
    font-size: 40px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(9, 46, 196);
    border: none;
    cursor: pointer;
}

.resultadoLimpar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

.resultadoLimpar input{
    font-size: 40px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.resultadoLimpar button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
}